<a href="https://colab.research.google.com/github/Eashan123/Videos/blob/main/class_percentage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#objectives:

#1. convert list to dataframe 
#2. concatenate dataframe axis=1 horizontally
#4. custom function to get count, class percentage of each class.

In [2]:
import pandas as pd

df_n = ["1", "2", "a", "b", "apple", "grapes", "orange", "yellow"]
df_c = ["number", "number", "alphabet", "alphabet", "fruits", "fruits", "colour", "colour"]

# list to dataframe

df_1 = pd.DataFrame(df_n, columns=['values'])
df_2 = pd.DataFrame(df_c, columns=['Cat'])

# concatenate

df = pd.concat([df_1, df_2], axis=1)

df.head(3)

  values       Cat
0      1    number
1      2    number
2      a  alphabet

In [3]:
df.shape

(8, 2)

In [4]:
# cusom function

per = []

def distribution(df, column):
  labels = df[column].unique()
  for label in list(set(labels)):
    count = len(df[df[column]==label])
    class_per = len(df[df[column]==label])/len(df)*100
    per.append(class_per)
    print("class percentage of {} is {} and count is {}".format(label, class_per, count))

In [5]:
distribution(df,'Cat')

class percentage of fruits is 25.0 and count is 2
class percentage of number is 25.0 and count is 2
class percentage of alphabet is 25.0 and count is 2
class percentage of colour is 25.0 and count is 2

In [ ]:
If you find the video useful do like and subscribe
Thankyou!