How to read files from Google Drive in Google Colab

Steps:

1. Install PyDrive

2. Load Packages

3. Mount Drive

4. Check if drive is visible in folder section

5. Copy the path of the file you want to load

6. Read file.

Let's see those steps in action.

In [1]:
#Install PyDrive
!pip install -U -q PyDrive

In [2]:
#Load Packages
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [3]:
#mounting drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/drive/MyDrive/AB_NYC_2019.csv')

In [6]:
df.head(3)

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365

[3 rows x 16 columns]

In [ ]:
# file has been loaded successfully

# If you like this video, do like and subscribe

# Thank you!